.panel-body img {
    width: 100%;
}
a .topic{
    background: #eff6fa;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
}

a .topic:hover{
    background: #00a0e9;
    color: #fff;
    text-decoration: none;
}

.button.is-naked{
    background: 0 0;
    border: none;
    border-radius: 0;
    padding: 0;
    height: auto;
}

.actions {
    display: flex;
    padding: 10px 20px;
}

.actions span a{
    display: block;
    border-radius: 10px;
}

.delete-form {
    margin-left: 20px;
}

.delete-button {
    color : #3097D1;
    text-decoration: none;
}

.question_flower  div{
    text-align: center;
}
.question_flower div a {
    margin-left: 10px;
}
.question_flower .panel-heading span {
    margin: 10px;
    color: #3d6983;
}